@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: lato,Roboto,Arial, Helvetica, sans-serif;
}

header{
    background-color: #1F2937;
}

.nav-cont{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 1vw 15vw;;
}

.nav-links-cont{
    display: flex;
    gap: 1vw;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

img{
    color: #F9faf8;   
    font-weight: 700;
    font-size: 24px;
}

.main-header{
    color: #F9faf8;
    font-weight: 900;
    font-size: 48px;
}

.sub-text{
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up-button{

}

.image-placeholder{
    width: 20vw;
    height: 10vw;
    background-color: #eee;
}

h2{
    font-size: 36px;
    font-size: 900;
    color: #1F2937;
}

.info-image-placeholder{
    border: 3px solid #3882F6;
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

.info-image-label{
    color: #585858;
}

.quote-section{
    background-color: #e5e7eb;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author{
    font-weight: 700;
    color: #1F2937;
}

.call-to-action{
    background-color: #3882F6;
    color: white;
}

footer{
    background-color: #1F2937;
    color: #F9faf8;
}
