@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: lato, Roboto, Arial, Helvetica, sans-serif;
}

header {
    background-color: #1F2937;
}

.nav-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 15vw;
}

.nav-links-cont {
    display: flex;
    gap: 1vw;
    font-size: 20px;
}

.nav-links {
    text-decoration: none;
    color: #e5e7eb;
}

.header-logo {
    color: #F9faf8;
    font-weight: 700;
    font-size: 24px;
}

/* ---------------------------------------------------------finished nav bar---------------------------------------------------------*/

.header-content {
    display: flex;
    flex-direction: row;
    padding: 6vw 15vw;
    justify-content: space-between;
}

.header-content-flex {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 20vw;
}

.main-header {
    color: #F9faf8;
    font-weight: 900;
    font-size: 48px;
}

.sub-text {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up-button {
    background-color: #3882F6;
    color: #e5e7eb;
    width: 6vw;
    border: 0px;
    padding: 6px 24px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
}

.sign-up-button a {
    color: #F9faf8;
}

.image-placeholder {
    width: 30vw;
    height: auto;
    background-color: #666666;
    flex-shrink: 1;
    text-align: center;
    color: #F9faf8;
}

/* ---------------------------------------------------------finished header---------------------------------------------------------*/

h2 {
    font-size: 36px;
    font-size: 900;
    color: #1F2937;
    text-align: center;
    margin: 3vw 0;
}

.info-flex-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 15vw;
    margin-bottom: 5vw;
    gap: 4vw;
}

.info-card-cont {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1vw;
}

.info-image-placeholder {
    border: 3px solid #3882F6;
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

.info-image-label {
    color: #585858;
    width: 8vw;
}

/* ------------------------------------------------------finished info section------------------------------------------------------*/

.quote-section {
    background-color: #e5e7eb;
    padding: 10vw 30vw;
    margin: 5vw 0;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote-author {
    font-weight: 700;
    color: #1F2937;
    text-align: right;
    font-size: 24px;
}

.call-to-action {
    background-color: #3882F6;
    color: white;
}

footer {
    background-color: #1F2937;
    color: #F9faf8;
}