*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: #1F2937;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

img{
    color: #F9faf8;   
    font-weight: 700;
    font-size: 24px;
}

.main-header{
    color: #F9faf8;
    font-weight: 900;
    font-size: 48px;
}